.about {
	$self: &;
	padding-top: 60px;

	&__top {

	}

	&__title {

	}

	&__text {
		font-size: 30px;
		text-align: center;
		max-width: 890px;
		margin: 0 auto 95px;
		@include range(30px, 18px, 960px, 480px);
		
		@include media('<=xs') {
			margin: 0 auto 55px;
		}
	}

	&__cards {
		max-width: 1560px;
		margin: 0 auto 40px;
		width: calc(100% - var(--gap) * 2);
		display: grid;
		grid-gap: 40px 240px;
		grid-template-columns: repeat(2, 1fr);
		
		@include media('<=xxlg') {
			grid-gap: 40px 180px;
		}
		
		@include media('<=xlg') {
			grid-gap: 40px 150px;
		}
		
		@include media('<=lg') {
			grid-gap: 40px 120px;
		}
		
		@include media('<=md') {
			grid-gap: 40px 100px;
		}
		
		@include media('<=sm') {
			grid-template-columns: 1fr;
			grid-gap: 30px;
		}
		
		@include media('<=xxs') {
			grid-gap: 20px;
		}
	}
	
	&__card {
		box-sizing: border-box;
		position: relative;
		grid-column: span 1;
		background-color: rgba(var(--accent), 0.2);
		border-radius: 10px;
		min-height: 290px;
		padding: 20px;
		color: rgb(var(--accent));
		text-transform: uppercase;
		display: flex;
		align-items: center;
		
		@include media('<=xlg') {
			min-height: 260px;
		}
		
		@include media('<=lg') {
			min-height: 220px;
		}
		
		@include media('<=lg') {
			
		}

		&::before {
			position: absolute;
			display: block;
			content: '';
			top: 0;
			height: 100%;
			background-color: #fff;
			transition: width 0.3s;
			width: 0;
		}

		&:hover::before {
			width: 150px;
			
			@include media('<=xxlg') {
				width: 130px;
			}
			
			@include media('<=xlg') {
				width: 100px;
			}
			
			@include media('<=lg') {
				width: 85px;
			}
			
			@include media('<=md') {
				width: 80px;
			}
			
			@include media('<=sm') {
				width: 140px;
			}
			
			@include media('<=xs') {
				width: 120px;
			}
			
			@include media('<=xxs') {
				width: 100px;
			}
		}

		&:nth-child(even) {
			text-align: right;

			@include media('<=md') {
				padding-left: 80px;
			}
				
			@include media('<=sm') {
				text-align: left;
				padding: 20px;
				padding-right: 140px;
			}
			
			@include media('<=xs') {
				padding-right: 100px;
			}
			
			@include media('<=xxxs') {
				padding-right: 90px;
			}
		
			#{$self}__card-icon {
				left: 0;
				transform: translateX(-35%);
				
				@include media('<=sm') {
					left: auto;
					right: 0;
					transform: translateX(16px);
				}
				
				@include media('<=xs') {
					transform: translateX(12px);
				}
			}

			&::before {
				left: 0;
				
				@include media('<=sm') {
					left: auto;
					right: 0;
				}
			}
		}
		
		&:nth-child(odd) {
			text-align: left;

			@include media('<=md') {
				padding-right: 80px;
			}
			
			@include media('<=sm') {
				padding-right: 140px;
			}
			
			@include media('<=xs') {
				padding-right: 100px;
			}
			
			@include media('<=xxxs') {
				padding-right: 90px;
			}
		
			#{$self}__card-icon {
				transform: translateX(35%);
				right: 0;
				
				@include media('<=sm') {
					transform: translateX(16px);
				}
				
				@include media('<=xs') {
					transform: translateX(12px);
				}
			}

			&::before {
				right: 0;
			}
		}
	}
	
	&__card-text {
		width: 100%;
		max-width: 310px;
		margin: 0 auto;
		font-size: 18px;
		font-weight: 500;
		line-height: 1.4;
		position: relative;
		z-index: 2;
		
		@include media('<=xxlg') {
			font-size: 17px;
		}
		
		@include media('<=xlg') {
			font-size: 16px;
		}
		
		@include media('<=lg') {
			font-size: 15px;
		}
				
		@include media('<=sm') {
			font-size: 17px;
			max-width: 420px;
			margin: 0;
		}
		
		@include media('<=xs') {
			font-size: 16px;
		}
		
		@include media('<=xxs') {
			font-size: 15px;
		}
		
		@include media('<=xxxs') {
			font-size: 13px;
		}

		br {
			@include media('<=md') {
				display: none;
			}
		}
	}

	&__card-icon {
		position: absolute;
		max-width: 210px;
				
		@include media('<=xxlg') {
			max-width: 170px;
		}
				
		@include media('<=xlg') {
			max-width: 140px;
		}
		
		@include media('<=lg') {
			max-width: 120px;
		}
		
		@include media('<=md') {
			max-width: 100px;
		}
		
		@include media('<=sm') {
			max-width: 140px;
		}
		
		@include media('<=xs') {
			max-width: 120px;
		}
		
		@include media('<=xxs') {
			max-width: 100px;
		}
		
		@include media('<=xxxs') {
			max-width: 90px;
		}
	}
}