.news {
	$self: &;
	padding-top: 50px;
	
	&__title {
		margin-bottom: 30px;
	}
	
	&__inner {
		box-sizing: border-box;
		max-width: 1400px;
		padding: 0 100px;
		margin-bottom: 40px;
		position: relative;

		@include media('<=xlg') {
			padding: 0 70px;
		}

		@include media('<=lg') {
			padding: 0 50px;
		}

		@include media('<=sm') {
			padding: 0 30px;
		}
		
		@include media('<=xs') {
			padding: 0;
		}
	}

	&__slider {
		position: static;
	}

	&__slide {
		height: auto;
	}

	&__button {
		@extend %reset-button;
		position: absolute;
		border-radius: 100px;
		height: 54px;
		width: 54px;
		z-index: 1;
		top: 25%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: background-color 0.3s;
		
		@include media('<=sm') {
			height: 35px;
			width: 35px;
		}
		
		@include media('<=xs') {
			display: none;
		}
	
		&:hover {
			background-color: rgba(var(--accident), 0.8);

			svg {
				opacity: 1;
			}
		}

		img, svg {
			display: block;
			width: 13px;
			height: 23px;
			fill: rgba(var(--accent));
			transition: opacity 0.3s;
			opacity: 0.5;
			
			@include media('<=sm') {
				width: 10px;
				height: 17px;
			}
		}

		&_prev {
			left: 0;
			
			@include media('<=lg') {
				left: -15px;
			}
		}
		
		&_next {
			right: 0;

			@include media('<=lg') {
				right: -15px;
			}
		}
	}
}