<footer class="footer"> 
	<div class="footer__inner container">
		<div class="footer__cols">
			<div class="footer__col">
				<h2 class="footer__col-title">Контакты</h2>
				<a class="footer__col-link" href="./">noviygorod_@_mail</a>
				<a class="footer__col-link" href="./">+7 (777) 777 77 77</a>
				<a class="footer__col-link" href="./">г. Старица, ул. Старицкая д1, офис 1</a>
			</div>
			<div class="footer__col">
				<h3 class="footer__col-subtitle">Пресс-офис:</h3>
				<a class="footer__col-link" href="./">noviygorod_@_mail</a>
				<a class="footer__col-link" href="./">+7 (777) 777 77 77</a>
			</div>
			<div class="footer__col">
				<a class="footer__col-button" href="./">Вакансии</a>
			</div>
			<div class="footer__col">
				<div class="footer__socials">
					<a href="./"><svg><use xlink:href="#icon-soc-tgm"></use></svg></a>
					<a href="./"><svg><use xlink:href="#icon-soc-ins"></use></svg></a>
					<a href="./"><svg><use xlink:href="#icon-soc-vkt"></use></svg></a>
				</div>
			</div>
		</div>
	</div>
</footer>

@@include("_sprite.svg")
<script src="common.js"></script> 
</body> 
</html>