<header class="header @@if(this.cls){@@cls}" data-scroll-lock-fill-gap>
	<div class="header__inner container">
		<a class="header__logo-mobile" href="./"><img src="./images/logo-mobile.svg" alt=""></a>
		<div class="header__navi">
			<button class="header__close"><svg><use xlink:href="#icon-close"></use></svg></button>
			<div class="header__menu" data-scroll-lock-scrollable>
				<div class="header__menu-side">
					<a class="header__menu-link" href="#about">О компании</a>
					<a class="header__menu-link" href="#town">О Старице</a>
					<a class="header__menu-link" href="#map">Объекты</a>
					<a class="header__menu-link" href="#market">Маркетинг территории</a>
				</div>
				<a class="header__logo" href="./">
					<img src="./images/logo.svg" alt="">
					<span>Новый</span>
					<span>Город</span>
				</a>
				<div class="header__menu-side">
					<a class="header__menu-link" href="#team">Команда</a>
					<a class="header__menu-link" href="./news.html">Новости</a>
					<a class="header__menu-link" href="#footer">Контакты</a>
					<div class="header__menu-socials">
						<a href="./"><svg><use xlink:href="#icon-soc-tgm"></use></svg></a>
						<a href="./"><svg><use xlink:href="#icon-soc-ins"></use></svg></a>
						<a href="./"><svg><use xlink:href="#icon-soc-vkt"></use></svg></a>
					</div>
				</div>
			</div>
		</div>
		<button class="header__toggle"><svg><use xlink:href="#icon-menu"></use></svg></button>
	</div>
</header>