.gallery {
	$self: &;

	&__title {
		
	}

	&__inner {
		box-sizing: border-box;
		max-width: 1400px;
		padding: 0 100px;
		margin: 0 auto 60px;
		position: relative;

		@include media('<=xlg') {
			padding: 0 70px;
		}

		@include media('<=lg') {
			padding: 0 50px;
		}

		@include media('<=sm') {
			padding: 0 30px;
		}
		
		@include media('<=xs') {
			padding: 0;
		}
	}
}
