.hero {
	$self: &;
	box-sizing: border-box;
	height: 100vh;
	height: 100svh;
	display: flex;
	position: relative;
	z-index: 1;
	
	@include media('<=xxs') {
		height: calc(var(--vh, 1vh) * 100);
	}
	

	&__slider {
		max-width: 100%;

		&-text {
			pointer-events: none;
			position: absolute;
			inset: 0;
			z-index: 2;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			color: #fff;
			font-family: "RB", sans-serif;
			font-size: 95px;
			@include range(95px, 28px, 1680px, 480px);

			p {
				// width: calc(100% - var(--gap));
				// max-width: 1200px;
				box-sizing: border-box;
				width: 65%;
				display: block;
				margin: 0 auto;
				line-height: 0.8;
				overflow: hidden;
				white-space: nowrap;
				
				@include media('<=lg') {
					width: 75%;
				}
				
				@include media('<=xxs') {
					width: 85%;
				}
				
				@include media('<=xxxs') {
					width: 95%;
				}

				&:nth-child(1) {
					padding-bottom: 10px;
					margin-bottom: 10px;
					
					@include media('<=md') {
						padding-bottom: 5px;
						margin-bottom: 8px;
					}
					
					@include media('<=xs') {
						padding-bottom: 2px;
						margin-bottom: 5px;
					}
				}

				&:nth-child(2) {
					text-align: right;
				}

				span {
					background-color: rgb(var(--accident));
				}
			}
		}
	}

	&__slide {
		height: auto;
		
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__button {
		@extend %reset-button;
		position: absolute;
		border-radius: 100px;
		height: 54px;
		width: 54px;
		z-index: 2;
		top: calc(50% - 27px);
		background-color: rgba(var(--accent), 0.8);
		display: flex;
		align-items: center;
		justify-content: center;
		transition: background-color 0.3s;
			
		@include media('<=md') {
			display: none;
		}
	
		&:hover {
			background-color: rgba(var(--accident), 0.8);

			svg {
				fill: rgba(var(--accent));
			}
		}

		img, svg {
			display: block;
			width: 13px;
			height: 23px;
			transition: fill 0.3s;
			fill: rgba(var(--accident));
		}

		&_prev {
			left: 70px;
			
			@include media('<=xlg') {
				left: 30px;
			}
		}
		
		&_next {
			right: 70px;
			
			@include media('<=xlg') {
				right: 30px;
			}
		}
	}

	&__pagination {
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		z-index: 3;
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		max-width: 1260px;
		padding-left: 30px;
		padding-right: 30px;
		
		@include media('<=xxs') {
			padding-right: 20px;
			padding-left: 20px;
			bottom: 30px;
		}
	}

	&__dot {
		box-sizing: border-box;
		display: block;
		width: 12px;
		height: 12px;
		border-radius: 100px;
		flex-shrink: 0;
		transition: background-color 0.3s;
		background-color: rgba(var(--accent));
		cursor: pointer;
		
		@include media('<=xs') {
			width: 9px;
			height: 9px;
		}
	
		&:not(:last-child) {
			margin-right: 35px;
			
			@include media('<=xs') {
				margin-right: 25px;
			}
		}
		
		&.active {
			background-color: rgb(var(--accident));
		}
	}
}