.footer {
	$self: &;
	background-color: rgb(var(--accent));
	padding: 60px 0;
	color: #fff;
	
	&__inner {
		background: url('#{$images-path}footer-wave.svg') center / auto repeat-x transparent;
		
		@include media('<=sm') {
			background: none;
			padding-right: var(--gap);
		}
	}
	
	&__cols {
		display: flex;
		max-width: var(--container);

		@include media('<=sm') {
			flex-flow: column nowrap;
		}
	}
	
	&__col {
		grid-column: span 1;
		box-sizing: border-box;
		padding: 80px 30px 35px 0;
		background-color: rgb(var(--accent));
		width: 100%;
		
		@include media('>sm') {
			&:nth-child(1) {
				max-width: 410px;
			}
			
			&:nth-child(2) {
				max-width: 290px;
			}
			
			&:nth-child(3) {
				max-width: 310px;
			}
		}
		
		@include media('<=sm') {
			padding: 40px 0 0 0;
		}
	}
	
	&__col-title {
		font-family: "RB", sans-serif;
		color: rgb(var(--accident));
		font-size: 24px;
		margin-top: -80px;
		margin-bottom: 50px;
		
		@include media('<=sm') {
			margin-top: -40px;
		}
		
		@include media('<=xxs') {
			font-size: 22px;
		}
	}
	
	&__col-link {
		display: block;
		color: #fff;
		text-decoration: none;
		margin-bottom: 15px;
		
		@include media('<=xxs') {
			font-size: 14px;
		}
	}
	
	&__col-subtitle {
		font-weight: 500;
		margin-bottom: 15px;
	}
	
	&__col-button {
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgb(var(--accident));
		color: rgb(var(--accent));
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		font-size: 18px;
		font-weight: 700;
		line-height: 1;
		padding: 10px 25px;
		width: fit-content;
		min-height: 50px;
		border-radius: 10px;
		
		@include media('<=xxs') {
			font-size: 16px;
			min-height: 40px;
			padding: 10px 15px;
			border-radius: 5px;
		}
	}
}