.objects {
	$self: &;
	padding-top: 50px;

	&::after {
		display: block;
		content: '';
		height: 20px;
		background: url('#{$images-path}arch-2.svg') center / 100px 18px repeat-x transparent;
		max-width: var(--container);
		width: calc(100% - var(--gap) * 2);
		margin: 0 auto;
	}

	&__inner {

	}

	&__title {
		margin-bottom: 30px;
	}

	&__image {
		margin-bottom: 40px;
		overflow: hidden;
		border-radius: 10px;
	}

	&__text {
		font-size: 20px;
		max-width: 890px;
		margin: 0 auto 40px;
		
		ul {
			font-size: 16px;
			counter-reset: item_ctr;

			li {
				padding: 5px 0 5px 38px;
				position: relative;

				&::before {
					display: flex;
					align-items: center;
					justify-content: center;
					counter-increment: item_ctr;
					content: counter(item_ctr);
					font-family: "RB", sans-serif;
					line-height: 0.8;
					font-size: 14px;
					width: 24px;
					height: 24px;
					border-radius: 100px;
					color: rgb(var(--accent));
					background-color: rgb(var(--accident));
					position: absolute;
					left: 0;
					top: 3px;
				}
			}
		}
	}
}