.feed {
	$self: &;
	padding-top: 70px;
	margin-bottom: 100px;
	
	@include media('<=md') {
		padding-top: 40px;
	}

	&__inner {

	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 80px 40px;
		
		@include media('<=lg') {
			grid-gap: 40px 20px;
		}
		
		@include media('<=sm') {
			grid-template-columns: repeat(2, 1fr);
		}
		
		@include media('<=xxs') {
			grid-template-columns: 1fr;
		}
	}

	&__pagination {
		padding-top: 80px;
		margin: 0 auto;
		width: fit-content;
	}
}