.header {
	$self: &;
	box-sizing: border-box;
	display: block;
	position: fixed;
	z-index: 12;
	left: 0;
	top: 20px;
	width: 100%;
	height: 85px;
	transition: background-color 0.3s;
	background-color: #fff;
	box-shadow: 0 5px 4px rgba(0, 0, 0, 0.03);
	
	@include media('<=xlg') {
		height: 77px;
	}
	
	@include media('<=md') {
		height: 50px;
		background-color: #fff !important;
		top: 0;
	}
	
	&_invisible {
		background-color: transparent;
		box-shadow: none;

		#{$self}__menu-side {
			@include media('>md') {
				opacity: 0;
				visibility: hidden;
			}
		}

		#{$self}__logo img {
			height: 118px;
			
			@include media('<=xlg') {
				height: 95px;
			}
		}
	}

	&__inner {
		height: 100%;
		
		@include media('<=md') {
			display: flex;
			align-items: center;
		}
	}

	&__toggle {
		@extend %reset-button;
		display: none;
		width: 29px;
		height: 29px;

		img, svg {
			display: block;
			width: 100%;
			height: 100%;
		}

		@include media('<=md') {
			display: block;
		}
	}

	&__close {
		@extend %reset-button;
		width: 35px;
		height: 35px;
		display: none;

		img, svg {
			display: block;
			width: 100%;
			height: 100%;
		}

		@include media('<=md') {
			display: block;
			position: absolute;
			top: 10px;
			right: 10px;
			z-index: 1;
		}
	}

	&__navi {
		box-sizing: border-box;
		height: 100%;
		
		@include media('<=md') {
			padding: 50px 15px;
			background-color: #fff;
			width: 100%;
			height: 100vh;
			height: 100dvh;
			position: fixed;
			z-index: 5;
			top: 0;
			left: -310px; 
			max-width: 300px;
			transition: left 0.3s linear;
			box-shadow: 5px 0 5px rgba(0, 0, 0, 0.05);
	
			&.opened {
				left: 0;
			}
		}
	}

	&__menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		height: 100%;

		@include media('<=md') {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: stretch;
		}

		&-side {
			box-sizing: border-box;
			display: flex;
			align-items: center;
			width: calc(50% - 120px);
			
			@include media('<=xlg') {
				width: calc(50% - 75px);
			}

			@include media('<=md') {
				display: block;
				visibility: visible;
				opacity: 1;
				width: auto;
			}
		}

		&-link {
			display: block;
			text-decoration: none;
			text-align: center;
			font-size: 14px;
			padding: 0 10px;
			color: #000;
			transition: background-color 0.3s;

			&:hover {
				background-color: rgb(var(--accident));
				color: #fff;
			}

			@include media('<=md') {
				text-align: left;
				text-transform: uppercase;
				padding: 5px 15px;
				margin-bottom: 10px;
			}
		}

		&-socials {
			display: flex;
			margin-left: auto;
			width: 100%;
			max-width: 140px;
			justify-content: space-between;

			@include media('<=md') {
				padding: 30px 0 0 15px;
				margin: 0;
			}
			
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 26px;
				height: 26px;
				background-color: rgb(var(--accent));
				transition: background-color 0.3s;
				overflow: hidden;
				border-radius: 100px;
				flex-shrink: 0;
				
				&:hover {
					background-color: rgb(var(--accident));
				}
	
				svg {
					width: 16px;
					height: 16px;
					fill: #fff;
				}
			}
		}
	}

	&__logo {
		box-sizing: border-box;
		width: 200px;
		flex-shrink: 0;
		flex-flow: column nowrap;
		background-color: rgb(var(--accident));
		border-radius: 0 0 10px 10px;
		padding: 20px 10px 40px;
		color: rgb(var(--accent));
		font-family: "RB", sans-serif;
		text-decoration: none;
		font-size: 30px;
		line-height: 0.8;
		position: absolute;
		z-index: 1;
		top: -20px;
		left: calc(50% - 100px);
		
		@include media('<=xlg') {
			border-radius: 0 0 7px 7px;
			left: calc(50% - 70px);
			font-size: 24px;
			width: 140px;
		}

		@include media('<=md') {
			display: none;
		}
	
		img {
			display: block;
			margin: 0 auto 15px;
			height: 0;
			transition: height 0.3s;
		}

		span {
			display: block;
			text-align: center;
			width: fit-content;
			margin: 0 auto;

			&:nth-of-type(1) {
				margin-bottom: 3px;
			}

			&:nth-of-type(2) {
				letter-spacing: 0.08em;
				background-color: #fff;
			}
		}
	}

	&__logo-mobile {
		box-sizing: border-box;
		display: none;
		background-color: rgb(var(--accident));
		margin-right: auto;
		padding: 2px;
		width: 38px;
		height: 38px;
		
		img {
			display: block;
			width: 100%;
			height: 100%;
		}

		@include media('<=md') {
			display: block;
		}
	}
}